.app {
  height: 100%;
  
  display: flex;
  flex-direction: column;
}

.header {
  z-index: 1;
}


.mainContent {
  flex-grow: 1;
  
  display: flex;
}

.sidebar {
  width: 20vw;
}

.canvasPanel {
  flex-grow: 1;
}



